// Theme
$blue: #31AFCB;
$pink: rgb(189, 84, 139);
$section-bg-color: #fafafa;

// Reset Vars
$default-font-family: 'Lato', Arial;
$default-title-font-family: 'Changa One', Arial;
$default-font-size: 16pt;
$default-font-weight: 300;
$default-text-color: #7a7a7a;
$default-anchor-color: $blue;

// Structure
$default-page-width: 960px;
$gutter: 1.5rem;
$slide-right-width: 500px;

// Common Breakpoints
$desktop-breakpoint: 1050px;
