@charset "utf-8";

/**
 * Utils
 */

@import "vars";
@import "utils/mixins/layout";
@import "utils/mixins/buttons";
@import "utils/mixins/grid";

/**
 * Base
 */

@import "base/defaults";

/**
 * Layout
 */

@import "layout/scafolding";
@import "layout/speaker-talks";
@import "layout/hero";
@import "layout/event";
@import "layout/tickets";
@import "layout/speakers";
@import "layout/sponsorship";
@import "layout/footer";

/**
 * Components
 */

@import "components/ribbon";
@import "components/slick";
@import "components/bullet-list";



body {
    background-color: $pink;
    //background: $blue url("/images/bg.jpg") no-repeat left bottom;
    // background-size: 600px;
    // background-attachment: fixed;
}

.page {
    //background-color: $blue;
    background-image: url("/images/hero.jpg");
    background-repeat: no-repeat;
    //background-position: center bottom;
    background-size: contain;
    box-shadow: 0 0 50px -5px #000;
}