<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSS Day</title>
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>

<div class="page">
    
    <section class="hero" id="register">
        <div>

            <header class="primary-header">
                <div class="logo">CSS Day<span class="city">Phoenix, Arizona</span></div>


                <input type="checkbox" id="primary-nav-toggle">
                <label class="primary-nav-toggle" for="primary-nav-toggle">
                    <span class="toggle-nav">menu</span>
                </label>
                <nav class="primary-nav">
                    <a href="#register" class="selected">Register</a>
                    <a href="#event">Event</a>
                    <a href="#sessions">Sessions</a>
                    <a href="#venue">Venue</a>
                    <!-- <a href="/questions.html">Questions</a> -->
                </nav>


            </header>

            <div class="spash">
                <h2>Advanced CSS Topics</h2>
                <span>For experienced devs who want to level up</span>
                <a class="button">Register</a>
            </div>

            <!-- <div class="countdown">
                <h3 class="title">December 5th</h3>
                <div id="main-example"></div>
            </div> -->

        </div>
    </section>

    <section class="panel event" id="event">
        <div>
            <h1>Event</h1>
            <p class="em">
                Already know CSS? Perfect, you're our target audience. Come level up and
                make sense of the parts you struggle with. We'll have intermediate to
                advanced lectures all day!
            </p>
            <h3 class="date">Saturday, December 5th 2015.</h3>
            <a href="" class="button">Register</a>
        </div>
    </section>

    <section class="panel sessions" id="sessions">
        <div>
            <h1>Sessions</h1>
            <p>
                It's still too early for us to publish the exact list, sessions will reflect
                advanced CSS topics such as:
            </p>
            <div class="session-list">
                <div>Sass: Beyond Intermediate</div>
                <div>PostCSS</div>
                <div>Better Selector Strategy</div>
                <div>CSS Tricks</div>
                <div>CSS Methodologies</div>
                <div>Layout Strategies</div>
                <div>Twitter Bootstrap: Under the hood</div>
                <div>CSS Organization</div>
                <div>A dozen tricks with Pseudo elements</div>
                <div>CSS Namespacing / Shadow DOM</div>
            </div>

        </div>
    </section>

    <section class="panel venue" id="venue">
        <div>
            <p class="em">
                The venue is picked, we just need to iron out details before it's announced.
                And by the way it's amazing!
            </p>
            <p>
                Want to help plan, speak at, or sponsor the event? Email <a href="mailto:event@cssday.io">event@cssday.io</a>
            </p>
        </div>
    </section>

    <footer class="panel">
        <div>
            <span class="copy">&copy; CSS Day 2015</span>
            <span>
                <a class="twitter" href="https://twitter.com/cssdayio">cssdayio</a> |
                <a href="mailto:event@cssday.io">Contact</a> |
                <!-- <a href="/questions.html">Questions</a> -->
            </span>
        </div>
    </footer>

</div>

<link href='http://fonts.googleapis.com/css?family=Raleway:400,200|Changa+One' rel='stylesheet' type='text/css'>


<!-- <script src="/scripts/build.min.js"></script>

<script type="text/template" id="main-example-template">
<div class="time <%= label %>">
  <span class="count curr top"><%= curr %></span>
  <span class="count next top"><%= next %></span>
  <span class="count next bottom"><%= next %></span>
  <span class="count curr bottom"><%= curr %></span>
  <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
</div>
</script>-->
    
</body>

</html>
