.page {
    padding-top: 100px;
    background: url('/images/flakes.png') repeat-x;
}

header {
    > div {
        text-align: center;
        color: #fff;

        @include respond($desktop-breakpoint) {
            width: $default-page-width;
            margin: 0 auto;
        }
    }

    h1 {
        color: #fff;
    }
}

main.panel {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;

    > div {
        @include vertical-gutters($gutter);
        background-color: #fff;
        border-radius: 20px;
        padding: $gutter;
    }

    @include respond($desktop-breakpoint) {
        width: $default-page-width;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.sponsor-types {

    .col {
        position: relative;
    }
    
    .status {
        font-size: 0.5em;
        background-color: $blue;
        color: #fff;
        padding: 0.3em;
        position: absolute;
        top: 35px;
        right: -5px;
        border-radius: 2px;
        transform: rotate(-10deg);
        z-index: 1000;
    }

}