body {
    background: $blue url("/images/venue.jpg") no-repeat center top;
    background-size: cover;
}

.page {
    padding-top: 100px;
    background: url('/images/flakes.png') repeat-x;
}

main.panel {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;

    @include respond($desktop-breakpoint) {
        width: $default-page-width;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    > div {
        overflow: hidden;
        background-color: #fff;
        border-radius: 20px;
        padding: $gutter;
    }


    .map {
        display: block;
        width: 100%;
        @include respond($desktop-breakpoint) {
            width: 300px;
            float: left;
        }
    }

    .content {
        @include respond($desktop-breakpoint) {
            margin-left: 300px;
        }
    }


}

footer {
    margin-bottom: 2em;
    text-align: center;
    .button {
        color: #fff;
    }
}