body {
    background: $blue url("/images/venue.jpg") no-repeat center top;
}

.page {
    padding-top: 100px;
    background: url('/images/flakes.png') repeat-x;
}

main.panel {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;

    > div {
        overflow: hidden;
        background-color: #fff;
        border-radius: 20px;
        padding: $gutter;
    }

    @include respond($desktop-breakpoint) {
        width: $default-page-width;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.map {
    float: left;
    display: block;
    width: 100%;
    max-width: 300px;
}

footer {
    text-align: center;
    .button {
        color: #fff;
    }
}