footer {
    background: url('/images/flakes.png') repeat-x;
    padding: 100px 0 50px 0;
    color: #fff;
    a { color: #fff; }
}

.panel.legal {
    opacity: 0.3;
    transition: opacity 0.3s;
    font-size: 0.6em;


    > div {
        padding-top: 1em;
        border-top: 1px solid rgba(255,255,255,0.4);

        > * + * {
            margin-left: 5em;
        }
    }

    &:hover {
        opacity: 1;
    }

    @include respond(600px) {
        font-size: 1em;
    }

}