.hero {

    background-image: url('/images/snow-small.png'), linear-gradient(60deg, $blue, $pink);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain, cover;

    @include respond(600px) {
        background-image: url('/images/snow.png'), linear-gradient(60deg, $blue, $pink);
    }    

    @include respond($desktop-breakpoint) {
        background-image: url('/images/snow.png'), url("/images/hero.jpg");
    }

    > div {
        margin: 0 2em;
        position: relative;
        height: 550px;
        color: #fff;

        @include respond($desktop-breakpoint) {
            width: $default-page-width;
            margin: 0 auto;
        }
        @include respond($desktop-breakpoint) {
            height: 600px;
        }
        @include respond($desktop-breakpoint + 200px) {
            height: 700px;
        }
        @include respond($desktop-breakpoint + 500px) {
            height: 800px;
        }
    }

    .spash {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 250px;
        text-align: center;
        font-size: 1em;

        h1 {
            color: #C1DEE5;
            font-size: 1.4em;
        }

        h2 {
            color: #fff;
            font: 0.7em $default-font-family;
            font-weight: bold;
        }

        .button {
            color: #fff;
            &:hover {
                background-color: #fff;
                border-color: #fff;
                color: $blue;
            }
        }

        @include respond(650px) {
            text-align: right;
            left: auto;
            width: 300px;
            top: 100px;
        }

        @include respond(750px) {
            font-size: 1.4em;
            width: 500px; 
        }

    }

}

.logo {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;

    @include respond(650px) {
        transform: none;
        left: 0;
    }
}

.presented-by-logo {
    position: absolute;
    top: 10em;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;

    @include respond(650px) {
        transform: none;
        left: 1em;
    }  
}

label.primary-nav-toggle {
    display: block;
    transition: background-color 1s;
    background-color: rgba(0,0,0,0);

    .toggle-nav {
        position: fixed;
        z-index: 1000;
        top: 2.5em;
        right: 1em;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid rgba(189, 84, 139, 0.20);
        transition: transform 1.6s;

        text-align: center;
        font-size: 0.7em;
        color: $pink;
        padding-top: 15px;

        border-radius: 50%;
        cursor: pointer;
    }
}

.primary-nav {
    overflow: hidden;
    font-size: 2em;
    position: fixed;
    z-index: 1001;
    top: 1em;
    right: 1em;
    left: 1em;
    background-color: #fff;
    border-radius: 0.3em;
    text-align: center;

    // Animation
    transition: transform 1s;
    transform: perspective(1000px) rotateY(-90deg);
    transform-origin: 120%;

    a {
        color: $blue;
        display: block;
        padding: 0.3em 0;
        &:active { background-color: $pink; color: #fff; }
    }
}

#primary-nav-toggle {
    display: none;
    &:checked {
        + label.primary-nav-toggle {

            // Position the tinted-glass for closing the label
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);

            .toggle-nav {
                transform: translateX(500px);
            }

        }

        ~ .primary-nav {
            transform: perspective(1000px) rotateY(0);
        }
    }
}

// When does the nav become tabs
@include respond(920px) {

    // Turn off menu toggle
    label.primary-nav-toggle { display: none; }

    .primary-nav {
        overflow: visible;              // Reset
        left: auto;                     // Reset
        background-color: transparent;  // Reset
        font-size: 0.7em;                 // Reset
        position: absolute;             // Negate

        // Reset Animations
        transition: none;
        transform: none;
        transform-origin: 0;

        &::after {
            content: '';
            display: block;
            background-color: rgba(255,255,255,0.4);
            height: 3px;
            border-radius: 3px;
            position: absolute;
            z-index: 4;
            bottom: -3px;
            width: 100%;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            position: relative;
            color: rgba(255,255,255,0.7);

            &:active {
                background-color: transparent; // Reset
            }

            &:hover {
                color: #fff;
            }

            &::after {
                content: '';
                display: block;
                height: 3px;
                border-radius: 5px;
                position: absolute;
                bottom: -3px;
                left: 0px;
                right: 0px;
                z-index: 5;
            }
        }


        a.selected, a:hover {
            color: #fff;

            &::after {
                background-color: #fff;
            }
        }
    }
    
}