.hero {
    //position: relative;

    // Chrismas Presents  
    background: url('/images/snow.png') no-repeat bottom left;
    background-size: contain;

    // @include respond($desktop-breakpoint) {
    //     height: 400px;
    // }
    
    > div {
        margin: 0 2em;
        position: relative;
        height: 450px;
        color: #fff;

        @include respond($desktop-breakpoint) {
            width: $default-page-width;
            margin: 0 auto;
            min-height: 500px;
            //height: 40vw;
        }
        @include respond($desktop-breakpoint + 200px) {
            min-height: 650px;
        }
        @include respond($desktop-breakpoint + 500px) {
            min-height: 700px;
        }
        @include respond($desktop-breakpoint + 900px) {
            min-height: 900px;
        }
    }

    .spash {
        display: none;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 100px;
        text-align: right;

        .title {
            color: #C1DEE5;
            font-size: 1.6em;
        }

        span {
            font-size: 0.8em;
            display: block;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .button {
            color: #fff;
            &:hover {
                background-color: #fff;
                border-color: #fff;
                color: $blue;
            }
        }

        @include respond(800px) {
            display: block;
        }
    }

    .twitter {
        position: absolute;
        left: 0;
        top: 100px;
        font-size: 0.6em;
        color: rgba(255, 255, 255, 0.6);
    }

    // // Chrismas Presents
    // &::after {
    //     content: '';
    //     display: block;
    //     height: 310px;
    //     position: absolute;
    //     z-index: 1;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background: url('/images/snow.png') no-repeat bottom left;
    //     background-size: cover;
    //     pointer-events: none; // Just in case the zindexing doesnt work

    //     @include respond($desktop-breakpoint) {
    //         height: 400px;
    //     }
    // }

    // Countdown
    .countdown {
        position: absolute;
        z-index: 3;
        left: 40px;
        bottom: 120px;
    }

}

.logo {
    display: inline-block;
    position: relative;
    font-size: 3em;
    font-family: $default-title-font-family;
    color: rgba(255,255,255,0.5);

    span.city {
        font-size: 1rem;
        position: absolute;
        left: 0;
        top: 2.7em;
        color: #fff;
    }

}

label.primary-nav-toggle {
    display: block;
    transition: background-color 1s;
    background-color: rgba(0,0,0,0);

    .toggle-nav {
        position: fixed;
        z-index: 1000;
        top: 1em;
        right: 1em;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid rgba(189, 84, 139, 0.20);
        transition: transform 1.6s;

        text-align: center;
        font-size: 0.7em;
        color: $pink;
        padding-top: 15px;

        border-radius: 50%;
        cursor: pointer;
    }
}

.primary-nav {
    overflow: hidden;
    font-size: 2em;
    position: fixed;
    z-index: 1001;
    top: 1em;
    right: 1em;
    left: 1em;
    background-color: #fff;
    border-radius: 0.3em;
    text-align: center;

    // Animation
    transition: transform 1s;
    transform: perspective(1000px) rotateY(-90deg);
    transform-origin: 120%;

    a {
        color: $blue;
        display: block;
        padding: 0.3em 0;
        &:active { background-color: $pink; color: #fff; }
    }
}

#primary-nav-toggle {
    display: none;
    &:checked {
        + label.primary-nav-toggle {

            // Position the tinted-glass for closing the label
            position: fixed;
            z-index: 1000;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);

            .toggle-nav {
                transform: translateX(500px);
            }

        }

        ~ .primary-nav {
            transform: perspective(1000px) rotateY(0);
        }
    }
}

@include respond(800px) {

    // Turn off menu toggle
    label.primary-nav-toggle { display: none; }

    .primary-nav {
        overflow: visible;              // Reset
        left: auto;                     // Reset
        background-color: transparent;  // Reset
        font-size: 1em;                 // Reset
        position: absolute;             // Negate

        // Reset Animations
        transition: none;
        transform: none;
        transform-origin: 0;

        &::after {
            content: '';
            display: block;
            background-color: rgba(255,255,255,0.4);
            height: 3px;
            border-radius: 5px;
            position: absolute;
            z-index: 4;
            bottom: -3px;
            width: 100%;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            position: relative;
            color: rgba(255,255,255,0.7);

            &:active {
                background-color: transparent; // Reset
            }

            &:hover {
                color: #fff;
            }

            &::after {
                content: '';
                display: block;
                height: 3px;
                border-radius: 5px;
                position: absolute;
                bottom: -3px;
                left: 0px;
                right: 0px;
                z-index: 5;
            }
        }


        a.selected, a:hover {
            color: #fff;

            &::after {
                background-color: #fff;
            }
        }
    }
    
}