main {
    //background: linear-gradient(#fff, $section-bg-color, #fff);
}

.panel {
    position: relative;
    text-align: center;
    padding: 2em 1em;

    > div {
        @include vertical-gutters($gutter);
        position: relative;

        @include respond($desktop-breakpoint) {
            width: $default-page-width;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
        }
    }

}