/****************************************
  General Scafolding and Slide Effect
*****************************************/

/**
 * Speakers Talks Container
 */
.speaker-talks {
    position: fixed;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    @include respond($slide-right-width) {
        width: $slide-right-width;
    }
}

/**
 * Page
 */
.page {
    position: absolute;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 50px -5px #000;
    tranition: transformY(-1px);
    transition: transform 0.6s;
    @include respond($slide-right-width) {
        transition: transform 0.2s;
    }
}

/**
 * Slide Right
 */
body.slide-right {
    overflow: hidden;
    .speaker-talks {
        opacity: 1;
    }
    .page {
        transform: translateX($slide-right-width);
        display: block;
        cursor: pointer;
    }
}


/****************************************
  Panels
*****************************************/

.panel {
    position: relative;
    text-align: center;
    padding: 2em 1em;

    > div {
        @include vertical-gutters($gutter);
        position: relative;

        @include respond($desktop-breakpoint) {
            width: $default-page-width;
            margin: 0 auto;
            padding-left: 0;
            padding-right: 0;
        }
    }

}