section.sessions {
    background: linear-gradient($section-bg-color, #fff);
}

.session-list {    
    margin-top: 2em;

    @include respond(800px) { column-count: 2; }
    @include respond($desktop-breakpoint) { column-count: 3; }

    div {
        display: block;
        font-size: 1.5em;
        margin-bottom: 1em;
        color: $pink;
        column-break-inside : avoid;
    }
}





// section.speaker {
    
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background:
//         radial-gradient(rgba(49, 175, 203, 0.4) 40%, $blue 100%),
//         url('/images/brad.png');
//     background-size: cover;
//     box-shadow: 0 0 0 7px rgba(49, 175, 203, 0.11);
//     transform: rotate(20deg);

//     &::before {
//         content: '';
//         display: block;
//         width: 70px;
//         height: 30px;
//         border-radius: 50%;
//         background-color: rgba(255,255,255,0.2);
//         //box-shadow: 0 0 5px 0 #fff;
//         transform: translate(40px, 10px) rotate(-12deg);

//     }
    
// }
