.speaker-talks {

    .slider {
        height: 90vh;
    }

    .speaker {
        height: 90vh;
        outline: none;
        padding: 1em 2em 2em 2em;
        color: #fff;

        header {
            font-size: 0.8em;
            margin-bottom: 1.5em;
            @include clearfix;

            .speaker-photo {
                float: left;
                margin-right: 1em;
                width: 70px;
                height: 70px;
            }

            .title {
                margin-left: 85px;
                border-bottom: 1px solid rgba(255,255,255,0.2);
                padding-bottom: 0.3em;
                overflow: hidden;
            }

            h1 {
                margin: 0;
                color: rgba(255,255,255,0.8);
                font-size: 1em;
                font-family: $default-font-family;
            }

            h2 {
                margin: 0.8em 0 0 0;
                color: #fff;
                font-size: 0.8em;
                font-family: $default-font-family;
            }

        }

        p, ul.list {
            font-size: 0.5em;
            line-height: 180%;
            text-align: justify;

            @include respond($slide-right-width) {
                font-size: 0.8em;
            }
        }

        // Individual Adjustments for Mobile
        &.snook p { font-size: 0.65em; }
        &.fisher p { font-size: 0.65em; }
        &.grant p { font-size: 0.65em; }
        &.westfall p { font-size: 0.65em; }
        
        // Individual Adjustments for Desktop
        @include respond($slide-right-width) {
            &.snook p { font-size: 1em; }
            &.fisher p { font-size: 1em; }
            &.westfall p { font-size: 1em; }
        }

        ul.list li::before {
            color: $blue;
        }

    }

    .slick-dots {
        margin: 0;
        transform: translateX(-50px);
        @include respond($slide-right-width + 100px) {
            transform: translateX(0); // negate
        }
    }

    button.close {
        outline: none;
        float: right;
        margin-right: 1em;
        font-size: 1.5em;
        color: #fff;
        background: none;
        border: none;
        transition: transform 0.2s;

        &:hover, &:active {
            transform: translateX(0.1em);
        }

        @include respond($slide-right-width + 100px) {
            display: none;
        }
    }

}