.speakers {    
    background-color: $blue;
    padding-top: 4em; // offset before element
    padding-bottom: 4em; // offset after element

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-image: url('/images/flakes.png');
        background-repeat: repeat-x;
    }

    &::after {
        background-image: url('/images/flakes-upsidedown.png');
        bottom: 0;
        top: auto; //negate;
    }

    @include respond($desktop-breakpoint) {
        background-image: url('/images/winter.jpg');
        background-size: cover;
    }

    > div {
        text-align: center;
    }
}

.speakers .speaker {
    display: inline-block;
    vertical-align: top;
    margin: 1em 2em;
    color: #fff;
    font-size: 0.7em;
    width: 220px;

    // Only needed when the background-image is displayed
    @include respond($desktop-breakpoint) {
        text-shadow: 0 0 10px rgba(0,0,0, 0.5);
    }

    .speaker-photo {
        position: relative;
        width: 100%;
        height: 220px;
        cursor: pointer;
    }

    .ribbon {
        width: 100%;
        position: absolute;
        bottom: 1em;
        transition: transform 1s;
    }

    .speaker-photo:hover .ribbon {
        transform: translateY(-0.2em) scale(1.05);
    }

    .name {
        margin-top: 1em;
        font-weight: bold;
    }

    .work {
        margin-top: 0.5em;
        color: rgba(255,255,255,0.8);
        font-size: 0.7em;
        
        a {
            color: inherit;
            margin-left: 1em;
        }
        a:hover {
            text-decoration: underline;
        }
    }

}