// ****************************************
//   Inherited Syles
// ****************************************

// See this explanation for details
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
    box-sizing: border-box;
    color: $default-text-color;
    font: $default-font-size $default-font-family;
    font-weight: $default-font-weight;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


// ****************************************
//   Body
// ****************************************

body {
    margin: 0;
    background-color: $pink;
}


// ****************************************
//   Common tags 
// ****************************************

a {
    color: $default-anchor-color;
    text-decoration: none;
}

a > i.fa {
    font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
    font-family: $default-title-font-family;
    letter-spacing: 0.1em;
    color: $blue;
}

h1 { font-size: 2em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.5em; }

em { font-style: italic; }
strong { font-weight: 600; }

p {
    line-height: 1.5em;

    &.em { font-size: 1.5em; }
    a { text-decoration: underline; }
    strong { color: $pink; }
}


/****************************************
  Buttons
*****************************************/

.page a.button {
    @include button;
    color: $blue;
    border: 1px solid currentColor;
    border-radius: 3em;
    padding: 1em 4em;
    position: relative;

    &:hover {
        background-color: $blue;
        color: #fff;
        border-color: $blue;
    }

    .fa {
        position: absolute;
        left: 0.3em;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2em;
    }

}

.page button {
    @extend a.button;
}


/****************************************
  Selections
*****************************************/

::selection {
    background: rgba(0,0,0,0.4);
    color: #fff;
}